html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.tablediv{
    max-height: 300px;
    overflow-y: auto;
}

td{
    white-space:pre-wrap;
    word-wrap:break-word
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.highlight {
    background-color: #FFFF99;
}

.file_input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
