<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="bg-warning">

<div th:replace="fragments/header :: header"/>

<div class="container mw-100 h-100">
    <div class="row equal h-20 align-items-center">
        <div class="col">
            <br/>
            <h2 class="text-center" th:text="#{home.header}"></h2>
            <br/>
        </div>
    </div>
    <div class="row equal h-80 align-items-center">
        <div th:with="life=#{contacts.life},mts=#{contacts.mts},velcom=#{contacts.velcom}" class="col">
            <h1 class="text-center text-white">Контактные телефоны</h1>
            <p  th:if="${not #strings.isEmpty(life)}" class="text-center" th:inline="text">
                <img th:src="@{/images/life.png}" class="rounded mx-auto"/>
                &nbsp;[[${life}]]
            </p>
            <p th:if="${not #strings.isEmpty(mts)}" class="text-center" th:inline="text">
                <img th:src="@{/images/mts.png}" class="rounded mx-auto"/>
                &nbsp;[[${mts}]]
            </p>
            <p th:if="${not #strings.isEmpty(velcom)}" class="text-center" th:inline="text">
                <img th:src="@{/images/velcom.png}" class="rounded mx-auto"/>
                &nbsp;[[${velcom}]]
            </p>
            <br/>
            <h1 class="text-center text-white">Электронная почта</h1>
            <p class="text-center" th:inline="text">
                <img th:src="@{/images/email.png}" class="rounded mx-auto"/>
                &nbsp;[[#{contacts.email}]]
            </p>
            <br/>
            <p class="text-center" th:inline="text">
                <img th:src="@{/images/boss.png}" class="rounded mx-auto"/>
                &nbsp;[[#{contacts.boss}]]
            </p>
            <p class="text-center" th:text="#{contacts.unp}"></p>
        </div>
        <div class="col">
            <form th:object="${request}" th:action="@{/contacts}" method="post" class="form-horizontal"
                  role="form">
                <p>Отправить заявку:</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Имя</span>
                    </div>
                    <input type="text" th:field="*{username}" class="form-control" placeholder=""/>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Эл. почта</span>
                    </div>
                    <input type="text" th:field="*{email}" class="form-control" placeholder="name@mail.com"/>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Телефон</span>
                    </div>
                    <input type="text" th:field="*{phone}" class="form-control" placeholder="+375 (29) 111-22-33"/>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Сообщение</span>
                    </div>
                    <textarea th:field="*{message}" class="form-control" rows="5"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="submit" class="btn btn-primary btn-block" value="Отправить"/>
                </div>
            </form>
            <p th:if="${result}" th:text="${result}"></p>
        </div>

    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>